#services {
    background: rgb(2, 0, 36);
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(86, 79, 142, 1) 100%
    );
    color: #bcc9e5;
    overflow: hidden;
}
.services-title {
    font-size: 4rem;
}
.services-desc {
    font-size: 1.8rem;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-card {
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.business-card {
    margin-top: 100px !important;
}
.card-body img {
    height: 10rem;
    width: 100%;
}
.product-card {
    text-wrap: nowrap;
    overflow: hidden;
}

/* media queries */
@media screen and (max-width: 768px) {
    .services-title {
        font-size: 3rem;
    }
    .services-desc {
        font-size: 1rem;
    }
    .product-card {
        width: 130px;
    }
}
@media screen and (max-width: 590px) {
    .services-title {
        font-size: 2rem;
    }
    .services-desc {
        font-size: 0.6rem;
    }
}
